body {
  background-color: antiquewhite;
}

#heading {
  color: cornflowerblue;
}

#text-output {
  min-height: 275px;
  border-radius: 3px;
  padding: 10px;
  word-wrap: break-word;
  text-align: left;
}

#text-input {
  min-height: 275px;
  border-radius: 3px;
}

#ColorPickerName {
  height: 40px;
  width: 50px;
  position: relative;
  top: 10px;
  border: none;
}

.buttonsInside {
  border: 10px solid transparent;
  padding: 15px;
  padding-top: 0px;
  border-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ8zs3ktwDCEHYKo2cfKgJovqNx32WTn-KD8Q&usqp=CAU) 30 stretch;
  padding-bottom: 10px;
}

.editor .col {
  max-width: 50%;
  flex-basis: 50%;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.small {
  font-size: small;
}

.medium {
  font-size: medium;
}

.large {
  font-size: large;
}
